<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsMeet"
        tools:targetApi="31"
        android:name =".authorization.AuthFireBase">
        <activity
            android:name=".authorization.SignUpUi"
            android:exported="false"
            android:label="@string/title_activity_sign_up_ui"
            android:theme="@style/Theme.LetsMeet" />
        <activity
            android:name=".authorization.SignInUi"
            android:exported="false"
            android:label="@string/title_activity_sign_in_ui"
            android:theme="@style/Theme.LetsMeet" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LetsMeet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>